:root {
  --main: #ffffff;
  --primary: #ff5a30;
  --primary-active: #fc3300;
  --gray-200: #f4f5f6;
  --gray-300: #e5e8ed;
  --gray-400: #d7dadd;
  --gray-600: #9a9ca5;
  --gray-700: #787a80;
  --gray-800: #424551;
  --gray-900: #1e212c;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 92px;

  &__logo {
    margin-right: 60px;
    border: 1px solid transparent;
    border-radius: 1px;

    &-img {
      display: block;
    }

    &:focus-visible {
      outline: 1px solid var(--primary);
      outline-offset: 5px;
    }
  }

  &__menu {
    &-list {
      list-style: none;
    }

    &-list {
      display: flex;
      -moz-column-gap: 40px;
      column-gap: 40px;
    }

    &-link {
      padding-bottom: 2px;
      border-bottom: 1px solid transparent;
      color: var(--gray-800);
      line-height: 160%;
      font-weight: 700;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        color: var(--primary);
      }

      &:focus-visible,
      &:active {
        color: var(--primary);
        border-color: var(--primary);
        outline: none;
      }
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 12px;
    column-gap: 12px;

    &:first-of-type {
      margin-left: auto;
    }

    &:not(:last-child) {
      margin-right: 36px;
    }

    &-icon {
      grid-row: 1 / 3;
    }

    &-caption {
      color: var(--gray-800);
      font-size: 14px;
      font-weight: 700;
      line-height: 150%;
    }

    &-info {
      border-bottom: 1px solid transparent;
      color: var(--gray-900);
      font-size: 18px;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        color: var(--primary);
      }

      &:active {
        color: var(--primary-active);
        border-color: var(--primary-active);
      }

      &:focus-visible {
        color: var(--primary);
        outline: none;
        border-color: var(--primary);
      }
    }
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--main);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:disabled {
    opacity: 0.5;
  }

  &:hover,
  &:focus-visible,
  &:active {
    background-color: var(--primary-active);
    outline: none;
  }

  &--large {
    height: 52px;
    padding: 0 40px;
    font-size: 16px;
  }

  &--small {
    height: 36px;
    padding: 0 24px;
    font-size: 12px;
  }

  &--outline {
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);

    &:hover,
    &:focus-visible {
      color: var(--main);
      background-color: var(--primary);
      border-color: var(--primary);
    }
    &:active {
      background-color: var(--primary-active);
      border-color: var(--primary-active);
    }
  }

  &--white {
    border-color: var(--main);
    color: var(--main);
  }

  &--round {
    padding: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    &--large {
      width: 80px;
      height: 80px;
    }
  }
}

.section {
  &-title {
    margin-bottom: 24px;
    color: var(--gray-900);
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    line-height: 130%;
  }

  &-text {
    margin-bottom: 60px;
    color: var(--gray-700);
    text-align: center;
    font-size: 18px;
    line-height: 150%;
  }
}

.form {
  &__item {
    flex: 1;

    & .form__label {
      font-size: 14px;
      line-height: 150%;
    }

    & .form__input {
      height: 44px;
      padding: 0 16px;
    }

    &--large {
      & .form__label {
        font-size: 16px;
        line-height: 160%;
      }

      & .form__input {
        height: 52px;
        padding: 0 16px;
        line-height: 160%;
      }
    }

    &--small {
      & .form__label {
        font-size: 12px;
        line-height: 150%;
      }

      & .form__input {
        height: 36px;
        padding: 0 12px;
        line-height: 150%;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    color: var(--gray-800);
    font-size: 14px;
    line-height: 150%;
  }

  &__input {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--gray-800);
    border-radius: 4px;
    background: var(--gray-200);
    border: 1px solid var(--gray-400);
    line-height: 150%;

    &:-moz-read-only {
      opacity: 0.6;
    }

    &:disabled,
    &:read-only {
      opacity: 0.6;
      pointer-events: none;
    }

    &::-webkit-input-placeholder {
      color: var(--gray-600);
    }

    &::-moz-placeholder {
      color: var(--gray-600);
    }

    &:-ms-input-placeholder {
      color: var(--gray-600);
    }

    &::-ms-input-placeholder {
      color: var(--gray-600);
    }

    &::placeholder {
      color: var(--gray-600);
    }
  }
}
