.hero {
  position: relative;
  height: calc(100vh - 92px);

  &__content {
    padding: 220px 0 0;
  }

  &__slider {
    &-button {
      position: absolute;
      top: 50%;
      background-color: var(--main) !important;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      opacity: 0.5;

      &:hover,
      &:focus-visible,
      &:active {
        opacity: 1;
      }

      & svg {
        width: 24px;
        height: 24px;
      }

      &--prev {
        left: 32px;

        & svg {
          transform: rotateZ(180deg);
        }
      }

      &--next {
        right: 32px;
      }
    }
  }

  &__wrapper,
  &__slide {
    height: inherit;
  }

  &__slide {
    background-image: url("./assets/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    max-width: 570px;
    margin: 0 0 24px;
    color: var(--main);
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;

    &--primary {
      color: var(--primary);
    }
  }

  &__text {
    margin-bottom: 60px;
    max-width: 595px;
    color: var(--main);
    font-size: 20px;
    line-height: 150%;
  }

  &__buttons {
    display: flex;
    -moz-column-gap: 24px;
    column-gap: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  &__progress {
    position: absolute;
    left: calc((100vw - 1230px) / 2);
    bottom: 120px;
    display: flex;
    -moz-column-gap: 4px;
    column-gap: 4px;
    width: 724px;

    &-item {
      flex: 1;
      height: 54px;
      padding: 0;
      background: none;
      border: none;
      border-bottom: 2px solid var(--main);
      color: var(--main);
      font-size: 28px;
      font-weight: 700;
      text-align: start;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.2s;

      &:hover:not(&--active) {
        opacity: 0.65;
      }

      &:focus-visible {
        outline: none;
      }

      &:focus-visible:not(&--active) {
        opacity: 0.65;
      }

      &--active {
        opacity: 1;
      }
    }
  }
}

.video {
  &__title {
    margin: 120px 0 24px;
  }

  &__text {
    margin-bottom: 60px;
  }

  &__player {
    position: relative;
    height: 500px;
    margin-bottom: 60px;
  }

  &__play-button,
  &__mute-button {
    position: absolute;
  }

  &__play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__mute-button {
    bottom: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    background: var(--main) !important;
    opacity: 0.2;

    &:hover,
    &:focus-visible,
    &:active {
      opacity: 0.4;
    }

    &-icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__source {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
