.hero {
  position: relative;
  height: calc(100vh - 92px);

  &__content {
    padding: 220px 0 0;
  }

  &__slider {
    &-button {
      position: absolute;
      top: 50%;
      background-color: var(--main) !important;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      opacity: 0.5;

      &:hover,
      &:focus-visible,
      &:active {
        opacity: 1;
      }

      & svg {
        width: 24px;
        height: 24px;
      }

      &--prev {
        left: 32px;

        & svg {
          transform: rotateZ(180deg);
        }
      }

      &--next {
        right: 32px;
      }
    }
  }

  &__wrapper,
  &__slide {
    height: inherit;
  }

  &__slide {
    background-image: url("./assets/bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    max-width: 570px;
    margin: 0 0 24px;
    color: var(--main);
    font-size: 72px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;

    &--primary {
      color: var(--primary);
    }
  }

  &__text {
    margin-bottom: 60px;
    max-width: 595px;
    color: var(--main);
    font-size: 20px;
    line-height: 150%;
  }

  &__buttons {
    display: flex;
    -moz-column-gap: 24px;
    column-gap: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  &__progress {
    position: absolute;
    left: calc((100vw - 1230px) / 2);
    bottom: 120px;
    display: flex;
    -moz-column-gap: 4px;
    column-gap: 4px;
    width: 724px;

    &-item {
      flex: 1;
      height: 54px;
      padding: 0;
      background: none;
      border: none;
      border-bottom: 2px solid var(--main);
      color: var(--main);
      font-size: 28px;
      font-weight: 700;
      text-align: start;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.2s;

      &:hover:not(&--active) {
        opacity: 0.65;
      }

      &:focus-visible {
        outline: none;
      }

      &:focus-visible:not(&--active) {
        opacity: 0.65;
      }

      &--active {
        opacity: 1;
      }
    }
  }
}

.video {
  &__title {
    margin-top: 120px;
  }

  &__player {
    position: relative;
    height: 500px;
    margin-bottom: 60px;
  }

  &__play-button,
  &__mute-button {
    position: absolute;
  }

  &__play-button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-icon {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__mute-button {
    bottom: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2) !important;

    &:hover,
    &:focus-visible,
    &:active {
      background: rgba(255, 255, 255, 0.4) !important;
    }

    &-icon {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &__source {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.values {
  &__title {
    margin-top: 180px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 270px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 285px;

    &-icon {
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
    }

    &-title {
      margin-bottom: 8px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }

    &-text {
      margin: 0;
      color: var(--gray-700);
      text-align: center;
      font-size: 16px;
      line-height: 160%;
    }

    &-divider {
      width: 1px;
      background: linear-gradient(
        315deg,
        rgba(218, 219, 221, 0) 0%,
        rgba(218, 219, 221, 0.5) 12.33%,
        #dadbdd 51.91%,
        rgba(218, 219, 221, 0.5) 87.85%,
        rgba(218, 219, 221, 0) 100%
      );
    }
  }
}

.question {
  box-sizing: border-box;
  position: absolute;
  top: -150px;
  left: 50%;
  width: 100%;
  padding: 48px 60px;
  transform: translateX(-50%);
  border-radius: 4px;
  background-color: var(--main);
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  &__title {
    margin: 0 0 32px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
  }

  &__form {
    display: flex;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }

  &__button {
    align-self: flex-end;
  }

  &__item {
    max-width: 260px;
  }
}

.services {
  position: relative;
  padding-bottom: 80px;

  &__background {
    background-image: url(./src/assets/services-bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
    opacity: 0.1;
  }

  &__title {
    padding-top: 200px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 285px;
    height: 285px;
    padding: 80px;
    border-radius: 4px;
    background-color: var(--main);
    border: 1px solid var(--gray-300, #e5e8ed);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
    overflow: hidden;

    &:hover &-image {
      opacity: 1;
    }

    &:hover &-icon {
      fill: var(--main);
    }

    &:hover &-title {
      color: var(--main);
    }

    &-image {
      position: absolute;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      opacity: 0;
      transition: inherit;
    }

    &-icon {
      position: inherit;
      width: 52px;
      height: 52px;
      margin-bottom: 24px;
      fill: var(--primary);
      transition: inherit;
      z-index: 1;
    }

    &-title {
      position: inherit;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
      white-space: nowrap;
      transition: inherit;
      z-index: 1;
    }
  }

  &__learn-more {
    display: flex;
    justify-content: center;
    -moz-column-gap: 40px;
    column-gap: 40px;

    &-title {
      font-size: 28px;
      font-weight: 700;
      line-height: 150%;
    }
  }
}
